
<header>
  <div class="container">
    {{#link-to 'index'}}<h2 id="title">Legislation Index</h2>{{/link-to}}
    <nav>
      {{#link-to 'committees'}}Committees{{/link-to}}
    </nav>
  </div>
</header>

<section>
  <div class="container">
    {{outlet}}
  </div>
</section>

<footer>
</footer>
